<p id="notice"><%= notice %></p>
<div class="container">
<h1>Kinds</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kinds.each do |kind| %>
      <tr>
        <td><%= kind.name %></td>
        <td><%= link_to 'Show', kind, class: 'btn btn-warning rounded-pill' %></td>
        <td><%= link_to 'Edit', edit_kind_path(kind), class: 'btn btn-warning rounded-pill' %></td>
        <td><%= link_to 'Destroy', kind, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning rounded-pill' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kind', new_kind_path, class: 'btn btn-warning rounded-pill' %>
</div>