<p id="notice"><%= notice %></p>
<div class="container">

<div class="card my-3" style="width: 18rem;">
  <div class="card-header">
    <strong>Title:</strong>
    <%= @bookmark.title %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
    <strong>Kind:</strong>
    <%= @bookmark.kind.name %>
    </li>
    <li class="list-group-item">
    <strong>Url:</strong>
    <%= @bookmark.url %>
    </li>
    <li class="list-group-item">
    <strong>Category:</strong>
    <%= @bookmark.category.name %>
    </li>
  </ul>
</div>

<%= link_to 'Edit', edit_bookmark_path(@bookmark), class: 'btn btn-warning rounded-pill' %> |
<%= link_to 'Back', bookmarks_path, class: 'btn btn-warning rounded-pill' %>

</div>