<p id="notice"><%= notice %></p>
<div class="container">

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Private:</strong>
  <%= @category.private %>
</p>

<p>
  <strong>ID:</strong>
  <%= @category.id %>
</p>

<%= link_to 'More Info', api_path(@category), class: 'btn btn-warning rounded-pill' %> |
<%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-warning rounded-pill' %> |
<%= link_to 'Back', categories_path, class: 'btn btn-warning rounded-pill' %>
</div>